*{
  margin: 0;
  padding: 0;
  font-family : 'Roboto';
}

.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url(assets/background.png);
  background-size: cover;
  background-position: center;
}

.navbar{
  width: 98%;
  /*padding: 35px 0;
  margin: auto;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  transition: opacity 0.3s ease-in-out;
}

.navbar ul li a:hover{
  opacity: 0.7;
}

.logo{
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: tranaslateY(-50%);
  text-align: center;
  color: #fff;
}

.content h1{
  font-size: 60px;
  margin-top: 60px;
}

.content p{
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

.learn-more-btn{
  background: transparent;
  color: #fff;
  padding: 30px 60px;
  border-radius: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  border-style: solid;
  cursor: pointer;
  border-color: #1a759f;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.effect{
  background: linear-gradient(135deg, #1a759f 50%, #eddea4);
  height: 100%;
  width: 0;
  border-radius: 60px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

.learn-more-btn:hover .effect{
  width: 100%;
}

.learn-more-btn:hover{
  border: none;
}

.learn-more-btn:active{
  margin-top: 2px;
  margin-left: 2px;
}