* {
	margin: 0;
	padding: 0;
	font-family: "Roboto";
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--bar-width: 50px;
	--bar-height: 6px;
	--hamburger-gap: 6px;
	--foreground: #fff;
	--background: rgba(0, 0, 0, 0.65);
	--animation-timing: 200ms ease-in-out;
	--hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.banner {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
		url(assets/background.png);
	background-size: cover;
	background-position: center;
}

.navbar {
	width: 98%;
	/*padding: 35px 0;
  margin: auto;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.navbar ul li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25rem;
	font-weight: bold;
	cursor: pointer;
	transition: opacity 0.3s ease-in-out;
}

.navbar ul li::after {
	content: "";
	height: 3px;
	width: 0;
	background: linear-gradient(135deg, #1a759f 40%, #eddea4);
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: width 0.5s ease-in-out;
}

.navbar ul li:hover::after {
	width: 100%;
}

.logo {
	width: 150px;
	height: 150px;
	object-fit: cover;
	object-position: center;
}

.content {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: tranaslateY(-50%);
	text-align: center;
	color: #fff;
}

.content h1 {
	font-size: 4rem;
	margin-top: 60px;
}

.content p {
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
	font-size: 1.25rem;
}

.text-outline {
	-webkit-text-stroke-color: #fff;
	-webkit-text-stroke-width: 0.15rem;
	color: transparent;
}

.text-gradient {
	font-weight: bold;
	background: linear-gradient(135deg, #1a759f 40%, #eddea4);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.learn-more-btn {
	background: transparent;
	color: #fff;
	padding: 30px 60px;
	border-radius: 60px;
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
	border-style: solid;
	cursor: pointer;
	border-color: #1a759f;
	position: relative;
	overflow: hidden;
	z-index: 1;
	margin-top: 10px;
}

.effect {
	background: linear-gradient(135deg, #1a759f 40%, #eddea4);
	height: 100%;
	width: 0;
	border-radius: 60px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}

.learn-more-btn:hover .effect {
	width: 100%;
}

.learn-more-btn:hover {
	border: none;
}

.learn-more-btn:active {
	margin-top: 12px;
	margin-left: 2px;
}

.hamburger {
	--x-width: calc(var(--hamburger-height) * 1.41421356237);
	display: none;
	flex-direction: column;
	gap: var(--hamburger-gap);
	width: max-content;
	position: absolute;
	right: 0;
	z-index: 2;
	cursor: pointer;
}

.hamburger::before,
.hamburger::after,
.hamburger input {
	content: "";
	width: var(--bar-width);
	height: var(--bar-height);
	background: var(--foreground);
	border-radius: 9999px;
	transform-origin: left center;
	transition: opacity var(--animation-timing), width var(--animation-timing),
		translate var(--animation-timing), rotate var(--animation-timing);
}

.hamburger input {
	appearance: none;
	padding: 0;
	margin: 0;
	outline: none;
	pointer-events: none;
}

.hamburger:has(input:checked)::before {
	rotate: 45deg;
	width: var(--x-width);
	translate: 0 calc(var(--hamburger-height) / -9);
}

.hamburger:has(input:checked)::after {
	rotate: -45deg;
	width: var(--x-width);
	translate: 0 calc(var(--hamburger-height) / 9);
}

.hamburger input:checked {
	opacity: 0;
	width: 0;
}

.sidebar {
	transition: opacity var(--animation-timing);
	opacity: 0;
	padding: 0.5rem 6rem;
	padding-top: calc(var(--hamburger-height) + 8rem);
	position: absolute;
	transform: translateY(40%);
	right: 0;
	background-color: var(--background);
	color: var(--foreground);
	border-radius: 20px;
	max-width: 10rem;
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.sidebar-item {
	text-align: center;
	text-decoration: none;
	color: var(--foreground);
	font-size: 1.5rem;
	font-weight: bold;
	margin: 2rem 0;
	cursor: pointer;
	transform: translateY(-100%);
}

.hamburger:has(input:checked) + .sidebar {
	opacity: 1;
}

.about {
	width: 100%;
	height: 100vh;
	background-image: url(assets/low-poly-grid-haikei.svg);
	background-size: cover;
	background-position: center;
}

.faq {
	width: 100%;
	height: 100vh;
	background-image: url(assets/low-poly-grid-haikei.svg);
	background-size: cover;
	background-position: center;
}

.our-team {
	width: 100%;
	height: 100vh;
	background-color: blue;
	background-size: cover;
	background-position: center;
}

.contact-us {
	width: 100%;
	height: 100vh;
	background-color: blueviolet;
	background-size: cover;
	background-position: center;
}

/* xs */
@media (max-width: 475px) {
	.logo {
		width: 100px;
		height: 100px;
	}

	.content h1 {
		font-size: 3rem;
		margin: 0 10px;
	}

	.content p {
		font-size: 1rem;
		margin: 10px 10px;
	}

	.hamburger {
		display: flex;
	}

	.navbar ul {
		order: 1;
	}

	.navbar ul li {
		display: none;
	}

	.navbar {
		width: 100%;
	}

	.learn-more-btn {
		padding: 20px 40px;
		font-size: 25px;
	}

	.hamburger {
		margin-right: 24px;
	}
}

/* sm */
@media (max-width: 640px) {
}

/* md */
@media (max-width: 768px) {
}
